{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Col 1.jpg" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - REVISION</h3>
                    <p>
                        <span>Lorem ipsum dolor sit amet consectetur</span>
                        adipisicing elit. In harum distinctio repudiandae autem, est facere.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="btn1" href="#">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Col 1.jpg" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        <span>Lorem ipsum dolor sit amet consectetur</span>
                        adipisicing elit. In harum distinctio repudiandae autem, est facere.
                    </p>
                    <p class="tag">SCSS</p>
                    <a class="btn1" href="#">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Col 1.jpg" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        <span>Lorem ipsum dolor sit amet consectetur</span>
                        adipisicing elit. In harum distinctio repudiandae autem, est facere.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="btn1" href="#">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Col 1.jpg" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        <span>Lorem ipsum dolor sit amet consectetur</span>
                        adipisicing elit. In harum distinctio repudiandae autem, est facere.
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a class="btn1" href="#">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="swiper">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>
        <div class="card">
            <div class="card__media">
                <img src="assets/images/Col 1.jpg" alt="swiper" />
            </div>
            <div class="card__content">
                <h3>SEM 07 - SITE RÉACTIF</h3>
                <p>
                    <span>Lorem ipsum dolor sit amet consectetur</span>
                    adipisicing elit. In harum distinctio repudiandae autem, est facere.
                </p>
                <p class="tag">SCSS + JAVASCRIPT</p>
                <a class="btn2" href="">
                    VOIR LE LABORATOIRE
                    <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="wrapper">
        <h2>
            <span>Contactez -</span>
            moi
        </h2>
        <p>
            <span>Afin qu'on puisse parler de</span>
            votre
            <span>projet</span>
        </p>
        <div class="icones">
            <svg class="icon">
                <use href="#icon-behance"></use>
            </svg>
            <svg class="icon">
                <use href="#icon-messenger"></use>
            </svg>
            <svg class="icon">
                <use href="#icon-linkedin"></use>
            </svg>
        </div>
    </div>
</footer>
{% include "_partials/_footer.html" %}
