{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/portfolio.jpg" alt="hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Revision.png" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - REVISION</h3>
                    <p>
                        <span>Laboratoire de révision du cours de Web II</span>
                        sur les hover, les cards et les icones.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="btn1" href="https://nroumiguieres.dectim.ca/cours/cw3/sem01/">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/TimCade.png" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        <span>Laboratoire sur le thème d'une salle d'arcade</span>
                        comportant une vidéo et un scroll différent.
                    </p>
                    <p class="tag">SCSS</p>
                    <a class="btn1" href="https://nroumiguieres.dectim.ca/cours/cw3/sem02/">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/louisa.png" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        <span>Laboratoire sur d'un site complet</span>
                        avec un header, un hero, des cards et un footer.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="btn1" href="https://nroumiguieres.dectim.ca/cours/cw3/sem03/">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/icones.png" alt="Le meilleur laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        <span>Laboratoire sur les icones et le javascript</span>
                        où il fallait ajuster les icones et contenant les premiers pas en javascript.
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a class="btn1" href="https://nroumiguieres.dectim.ca/cours/cw3/sem04/">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pagination">
    <div class="swiper swiper-page js-swiper-page">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide swiper-slide-pagination">
                <div class="card">
                    <div class="card__media">
                        <img src="assets/images/Col 1.jpg" alt="swiper" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF ET JAVASCRIPT</h3>
                        <p>
                            <span>Laboratoire sur les sites réactifs</span>
                            pour apprendre à gérer les différentes tailles d'écran et javascript.
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn2" href="">
                            VOIR LE LABORATOIRE
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-pagination">
                <div class="card">
                    <div class="card__media">
                        <img src="assets/images/Col 1.jpg" alt="swiper" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 08 - SITE RÉACTIF</h3>
                        <p>
                            <span>Laboratoire pour maitriser le site réactif</span>
                            en ajustant les différentes tailles d'écrans.
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn2" href="">
                            VOIR LE LABORATOIRE
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-pagination">
                <div class="card">
                    <div class="card__media">
                        <img src="assets/images/Col 1.jpg" alt="swiper" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 09 - SWIPER JS</h3>
                        <p>
                            <span>Laboratoire sur swiper</span>
                            avec plusieurs exercices pour apprendre le swiper.
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn2" href="">
                            VOIR LE LABORATOIRE
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<footer class="footer">
    <div class="wrapper">
        <h2>
            <span>Contactez -</span>
            moi
        </h2>
        <p>
            <span>Afin qu'on puisse parler de</span>
            votre
            <span>projet</span>
        </p>
        <div class="icones">
            <svg class="icon">
                <use href="#icon-behance"></use>
            </svg>
            <svg class="icon">
                <use href="#icon-messenger"></use>
            </svg>
            <svg class="icon">
                <use href="#icon-linkedin"></use>
            </svg>
        </div>
    </div>
</footer>
{% include "_partials/_footer.html" %}
